/* src/components/core/Background/presets/Starfield/StarfieldBackground.css */

.wrapper {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

/* Creating layers of stars using box-shadows */
.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1744px 122px #FFF, 134px 1321px #FFF, 86px 859px #FFF; /* Add many more points for density */
    animation: animStar 50s linear infinite;
}

.stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1744px 122px #FFF, 134px 1321px #FFF, 86px 859px #FFF;
}

.content {
    position: relative;
    z-index: 10;
    width: 100%;
}

@keyframes animStar {
    from { transform: translateY(0px); }
    to { transform: translateY(-2000px); }
}