/* src/components/core/Background/preset/Waves/WavesBackground.module.css */

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #001220; /* Deep Ocean Blue */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.waveContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 0;
}

.waves {
    position: relative;
    width: 150%;
    overflow: hidden;
    height: 15%;
    margin-bottom: -7px; /* Fix for safari gap */
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    z-index: 10;
    width: 100%;
}

/* Animation for the parallax effect */
.parallax > use {
    animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    opacity: 0.7;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    opacity: 0.5;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    opacity: 0.3;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes moveForever {
    0% { transform: translate3d(-90px, 0, 0); }
    100% { transform: translate3d(85px, 0, 0); }
}